# references:
# https://www.adelbertc.com/emacs-rls-nix/
# https://github.com/tweag/rules_haskell/blob/master/shell.nix
# https://github.com/tweag/rules_haskell/blob/master/nixpkgs/default.nix

use_nix
